/* body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  margin: 0;
  background: linear-gradient(120deg, #4A628A, #7AB2D3, #B9E5E8, #DFF2EB );
  background-size: 200% 200%;
  animation: colors 15s ease infinite;
} */


.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, #4A628A, #7AB2D3, #B9E5E8, #DFF2EB );
  background-size: 200% 200%;
  animation: colors 15s ease infinite;
}

.login-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  width: 100%;
  max-width: 400px;
  text-align: center;
  box-sizing: border-box; 
  background: linear-gradient(120deg, #4A628A, #7AB2D3, #B9E5E8, #DFF2EB );
  background-size: 200% 200%;
  animation: colors 15s ease infinite reverse;
}

.error {
  color: red;
  margin-top: 10px;
}


h2 {
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}



label {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #555;
}

input {
  width: 100%; /* Garante que o input não ultrapasse o limite do container */
  padding: 0.75rem;
  border: 0px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box; 
  transition: border-color 0.3s;
  background-color: rgba(255 255 255/.4); 
}

input:focus {
  border-color: #667eea;
  outline: none; 
}

button {
  background-color: #4A628A;
  box-shadow: 0px 1px 1px rgba(0 0 0 /.1);
  color: white;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease;
}

button:hover {
  background-color: #5a67d8;
  transform: translateY(-3px); 
}

button:active {
  background-color: #4c51bf;
}

a {
  color: #667eea;
  text-decoration: none;
  font-size: 0.9rem;
}

a:hover {
  text-decoration: underline;
}

@keyframes colors {
  0% {
    background-position: 0% 30%;
  }

  50%{
    background-position: 100% 30%;
  }

  100%{
    background-position: 0% 30%;
  }
}

@media (max-width: 500px) {
  .login-container {
      padding: 1.5rem;
      width: 90%;
  }

  h2 {
      font-size: 1.5rem;
  }
}
