/* Estilo para informações no topo */
.body {
    background: linear-gradient(120deg, #4A628A, #7AB2D3, #B9E5E8, #DFF2EB );
}

.home-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1em 3em;
    background-color: #f1f1f1;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .info-item {
    text-align: center;
  }
  
  .info-item h6 {
    margin: 0;
    font-size: 1rem;
    color: #007bff;
  }
  
  .info-item h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #6971FF;
  }
  
  /* Cards permanecem como estão */
  .home-cards {
    margin: 2em;
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
  }
  
  .card {
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .card h3 {
    color: #6971FF;
  }
  