.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em 2em;
    background-color: #007bff;
    color: white;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

/* Container para o conteúdo da Navbar */
.container {
    display: flex;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
}

/* Marca e botão do menu alinhados */
.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding-left: 0.5em;
}

.menu-btn {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 8px;
    margin-left: 10px;
}

/* Informações da Navbar */
.navbar-info {
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-left: auto;
}

.navbar-info-item {
    text-align: end;
}

/* Ajuste de responsividade */
@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #007bff;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 0;
    }

    .navbar-list {
        flex-direction: column;
    }

    .navbar-item {
        margin: 10px 0;
        text-align: center;
    }

    .navbar-toggle {
        display: block;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
    }

    .navbar-toggle.active + .navbar-menu {
        display: flex;
    }
}