.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em 2em;
    background-color: #007bff;
    color: white;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

/* Container para o conteúdo da Navbar */
.container {
    display: flex;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
}

/* Marca e botão do menu alinhados */
.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding-left: 0.5em;
}

.menu-btn {
    font-size: 20px;
    background: #055ebd;
    border: none;
    cursor: pointer;
    color: #fff;
    margin-left: 35px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-btn:hover {
    transform: scale(1.1); 
}

.menu-btn .icon {
    display: inline-block;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-btn .icon.hamburger {
    opacity: 1;
    transform: rotate(0deg);
}

.menu-btn .icon.close {
    opacity: 0;
    transform: rotate(-90deg);
}

.menu-btn.active .icon.hamburger {
    opacity: 0;
    transform: rotate(90deg); /* Rotação para sumir */
}

.menu-btn.active .icon.close {
    opacity: 1;
    transform: rotate(0deg); 
}


/* Informações da Navbar */
.navbar-info {
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-left: auto;
}

.navbar-info-item {
    text-align: end;
}



/* Ajuste de responsividade */
@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #007bff;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 0;
    }

    .navbar-list {
        flex-direction: column;
    }

    .navbar-item {
        margin: 10px 0;
        text-align: center;
    }

    .navbar-toggle {
        display: block;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
    }

    .navbar-toggle.active + .navbar-menu {
        display: flex;
    }
}