.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #055ebd;
  color: white;
  padding: 15px;
  transition: right 0.3s ease, opacity 0.3s ease;
  z-index: 1000;
  opacity: 0; 
  pointer-events: none; 
}

.sidebar.open {
  right: 0;
  opacity: 1; 
  pointer-events: auto; 
}

.sidebar .close-btn {
  font-size: 24px;
  color: white;
  background: black;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  margin-top: 70px;
}


.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
}

.sidebar-menu li {
  margin: 15px 0;
}

.sidebar-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.section {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}