body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 1.5rem;
    color: #333;
    font-size: 2rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 1rem;
    text-align: left;
  }
  
  label {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: #555;
  }
  
  input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;
  }
  
  input:focus {
    border-color: #667eea;
    outline: none; /* Remove o outline padrão */
  }
  
  button {
    background-color: #667eea;
    color: white;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease;
  }
  
  button:hover {
    background-color: #5a67d8;
    transform: translateY(-3px); /* Efeito de elevação ao passar o mouse */
  }
  
  button:active {
    background-color: #4c51bf;
  }
  
  a {
    color: #667eea;
    text-decoration: none;
    font-size: 0.9rem;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 500px) {
    .login-container {
      padding: 1.5rem;
      width: 90%;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  }
  