:root {
  font-family: 'DM Sans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(120deg, #4A628A, #7AB2D3, #B9E5E8, #DFF2EB );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 80%;
  justify-content: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  width: 100%;
}